<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xml:lang="en" lang="en">

<ui:composition template="/WEB-INF/plantilla.xhtml">

  <ui:define name="title">Inicio</ui:define>
  <ui:define name="content">
    <p:panel header="" widgetVar="login" modal="true" rendered="#{!loginBean.autenticado}" style="text-align: center; align-content: center">


        <h:form styleClass="form-signin" style="text-align: center; align-content: center">
          <h2 class="form-signin-heading"> Iniciar sesión</h2>

          <div class="mt-5">
            <p:inputText id="email_login"  required="true" placeholder="Ingrese su email o nickname" styleClass="form-inputPF" requiredMessage="Debe ingresar un username!" value="#{loginBean.email}"/>
          </div>
          <div >
            <p:password id="password_login"   placeholder="Ingrese su contraseña" required="false" toggleMask="true" redisplay="true" styleClass="form-inputPF mt-4" requiredMessage="Debe ingresar su contraseña!" value="#{loginBean.password}"/>
          </div>
          <div >
            <p:commandButton value="Iniciar Sesión"  update="@form" styleClass="mt-4 btnIniciarS" action="#{loginBean.iniciarSesion}" icon = "pi pi-sign-in" iconPos="left"/>
            <p:growl showDetail="true"  />
            <br></br>
            <p:commandLink value="¿Has olvidado tu contraseña?" onclick="PF('olvidaste').show(), PF('login').hide()" update="@form" tyleClass="mt-4"/>
          </div>

        </h:form>
    </p:panel>

    <p:dialog header="" widgetVar="olvidaste" modal="true">
      <div class="wrapper">
        <h:form styleClass="form-signin">
          <h2 class="form-signin-heading"> Recuperar Contraseña</h2>


          <div class="col-7 mt-5">
            <p:inputText id="email" value="#{loginBean.email}" required="true" placeholder="Ingrese su email o nickname" styleClass="form-inputPF"/>
            <p:commandButton value="Recuperar Contraseña" action="#{loginBean.recuperarContrasenia}" update="@form" styleClass="mt-4 btnIniciarS"/>
            <p:growl for="olvidaste-bean" showDetail="true"  />

          </div>

        </h:form>

      </div>
    </p:dialog>

</ui:define>


</ui:composition>


</html>