
body .ui-selectonemenu .ui-selectonemenu-label {
    font-size: 15px !important;
    font-weight: bold !important;

}
body .ui-datepicker .ui-datepicker-header {
    border: none !important;
}

body .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
    background: #F75555 !important;
    color: #ffffff !important;
    border: 0 none;

}
.text-info-actual{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 15px !important;
    line-height: inherit !important;
    padding: 0px !important;


}
.panelRecarga{
    width: 60%;
    position: center;
    margin: auto;
    margin-top: 4% ;
}

.panelInfoRecarga{
    width: 24vw;
    margin-left: 2vw;

}

.panelFormRecarga{
    width: 32vw;
}

.btn-recargar{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: inherit !important;
    padding: 5px !important;
    width: 20vw;
    height: 5vh;
}

.textFieldFormRecarga{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 15px !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    padding: 5px !important;
    width: 28vw;
    height: 4.5vh;

}

.margin-dataview{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-dataview-1{
    margin-left: 10px;
    margin-bottom: 10px;
}
body {
    background: #eee !important;
}

.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}
.fb-xfbml-parse-ignore{
    background-image: url("https://image.flaticon.com/icons/png/512/733/733547.png") !important;

}


.form-signin {
    width: 50%;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
}

.form-inputPF{
    width: 300px;
    height: 35px;
    position: center;
    font-size: 12px;
}

.form-inputPFArea{
    width: 300px;
    height: 100px;
    position: center;
    font-size: 12px;
}


.ml{
    margin-left: 180px !important;
}





.text-detalle-h1{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 22px !important;
    font-weight: bolder !important;
    line-height: inherit !important;
    margin-left: 10px !important;
    padding: 0px !important;
    font-style: unset;


}

.text-detalle-h2{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 16px !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin-left: 10px !important;
    padding: 0px !important;


}

.text-comentario-h2{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 16px !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    padding: 0px !important;
}

.lista-horario{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 13px !important;
    font-weight: lighter !important;
    line-height: inherit !important;
    padding: 0px !important;
    margin-bottom: 0px;
}

.ui-dataview-header{
    display: none;
    border: none;
}

body .ui-panel .ui-panel-content {
    border: none !important;
}

.btn-reserva{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 15px !important;
    font-weight: lighter !important;
    line-height: inherit !important;
    height: 40px;
    width: 200px;
    margin-left: 30%
}


.lista-comentario{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 13px !important;
    font-weight: lighter !important;
    line-height: inherit !important;
    padding: 0px !important;
    margin-bottom: 0px;
}
.lista-comentario-respuesta{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #7e7e7e !important;
    font-size: 13px !important;
    font-weight: lighter !important;
    line-height: inherit !important;
    padding: 0px !important;
}
.titulo-comentario{
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.35;
}

.noBorders *{
    border: none !important;
}


.form-inputLugar{
    width: 350px;
    height: 35px;
    position: center;
}

.form-input-comentario{
    width: 350px;
    height: 50px;
    position: center;
    border-image: initial;
}

.form-input-comentario-titulo{
    width: 350px;
    height: 25px;
    position: center;
}
.btnIniciarS{
    width: 300px;
    height: 40px;
    position: center;
}

.form-signin-heading{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: #222222 !important;
    font-size: 24px !important;
}
input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}










#header .btn-buscar {
    color: #f8f9fa;
    border-color: #f8f9fa;
    background: none;
}

#header {
    font-size: 19px;


}

.box {

    background-color: #f8f9fa;
    border: 2px solid #e5e8eb;
    border-radius: 3px;

}

.box-stretched {
    height: 100%;
    box-sizing: border-box;
}


.imagen-lugar{
    width: 100%;
    height: 150px;
}

.imagen-detalle{
    width: 100%;
    height: 100%;
}

.logo{
    width: 15%;
    height: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.detail{
    width: 75%;
}
.card-img-top{
    width: 100%;
    height: 150px;
}
#test{
    color: blue;
    --text-color: blue;
}

#header .btn-buscar.ui-state-hover{
    color: black;
    background: white;
}
#header .ui-button-warning{
    font-size: 19px;
}
#header .input-search{
    font-size: 19px;
}
#header .navbar-brand{
    font-size: 19px;
}

#header .btn-buscar{
    font-size: 19px;
}

.input-search{
    width: 250px;
}

.formularioUsuario{
    width: 400px;
    height: 35px;
}

#map{
    width: 100%;
    height: 600px;
}




@media only screen and (max-width: 768px) {
    .input-search{
        width: 100%;
    }
}


@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: black;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
    background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
    text-align:center;
    font-size: 4rem;
}
.myP {
    text-align: justify;
    padding-left:15%;
    padding-right:15%;
    font-size: 20px;
}
@media all and (max-width:700px){
    .myP {
        padding:2%;
    }
}

.botonLogin {

    border-radius: 9px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #f0ba30;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.botonLogin:hover {
    background: #fbcf60;
    text-decoration: none;
}
.botonLogin:active {
    position:relative;
    top:1px;
}

.botonBuscar {

    border-radius: 9px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.botonBuscar:hover {
    background: #ffffff;
    text-decoration: none;
}
.botonBuscar:active {
    position:relative;
    top:1px;
}

.form-control me-2 input-search {
padding: 0px;
}

@media only screen and (max-width: 600px) {
    .form-signin {width: 100%;}
    .textFieldFormRecarga{width: 40vw;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form-signin {width: 90%;}
    .textFieldFormRecarga{width: 34vw;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-signin {width: 80%;}
    .textFieldFormRecarga{width: 32vw;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-signin {width: 70%;}
    .textFieldFormRecarga{width: 30vw;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .form-signin {width: 50%;}
    .textFieldFormRecarga{width: 28vw;}
}





