<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<ui:composition template="/WEB-INF/plantilla.xhtml">
    <ui:define name="head">

    </ui:define>
    <ui:define name="title">Agendar Clase</ui:define>
    <ui:define name="content">

        <div class="container mt-4 mb-4">

            <p:panel header="Seleccione un profesor" style=" text-align: center; font-size: 40px; height: 40vh;">
            <h:form>
            <p:dataView id="profesores" var="profesor" value="#{profesorBean.listaProfesores}"   rows="3"  layout="grid" >
                <p:dataViewGridItem columns="6" >
                    <h:commandLink >
                    <p:card style="width: 35em; text-align: left">
                        <f:facet name="title">
                            <p:graphicImage style="border: 1px solid; color: gray; border-radius: 10px" url="/uploads/#{profesor.nombre.toLowerCase()}.png"  width="96" height="96" />
                        </f:facet>
                        <div/>
                        <p:outputLabel style="font-size: 14px; font-weight: bold; color: black" value="#{profesor.nombre}" />
                        <div/>
                        <p:outputLabel style="font-size: 12px; color: gray" value="#{profesor.username}" />
                        <div/>
                        <p:outputLabel style="font-size: 12px; color: black" value="#{profesorBean.obtenerEspecialidad(profesor.username).nombre}: #{profesorBean.obtenerEspecialidad(profesor.username).descripcion}" />

                        <p:outputLabel style="font-size: 12px; color: red; font-weight: bold" value="#{profesorBean.obtenerEspecialidad(profesor.username).juego.nombre}" />

                        <f:facet style="text-align: right" name="footer">
                            <p:commandButton icon="pi pi-dollar" value="15.000 / hora" action="#{profesorBean.elegirHorario(profesor.username)}"/>
                        </f:facet>
                    </p:card>
                    </h:commandLink>


                </p:dataViewGridItem>
            </p:dataView>
            </h:form>
            </p:panel>

        </div>
    </ui:define>
</ui:composition>
</html>