<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsf/html"
      xmlns:b="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">




<script type="text/javascript">
    window.onload = function() {
        document.forms["form1"].submit();
    }
</script>


<ui:composition template="/WEB-INF/plantilla.xhtml">



    <ui:define name="head">

    </ui:define>

    <ui:define name="content">


        <p:panel header="" modal="true" style="text-align: center; align-content: center">



                <h2 class="form-signin-heading">Confirmación pago recarga </h2>

                <div class="mt-5">
                    <p:outputLabel id="username"  required="true"  style="font-size: large;font-weight: bold" styleClass="form-inputPF" value="Usuario: #{recargaBean.username}"/>
                </div>
                <div >
                    <p:outputLabel id="recarga"  required="true"  style="font-size: large;font-weight: bold" styleClass="form-inputPF" value="Valor: #{recargaBean.valor}"/>
                </div>

            <form name="form1" method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/" >
                <input name="merchantId"      type="hidden"  value="#{recargaBean.merchantId}"   />
                <input name="accountId"       type="hidden"  value="#{recargaBean.accountId}" />
                <input name="tax"             type="hidden"  value="0" />
                <input name="taxReturnBase"   type="hidden"  value="0" />
                <input name="currency"        type="hidden"  value="COP" />
                <input name="test"            type="hidden"  value="1"/>


                <input name="referenceCode"   type="hidden"  value="#{recargaBean.codigoSiguiente}" />
                <input name="description"     type="hidden"  value="Recarga de saldo del valor: #{recargaBean.valor}"/>
                <input name="amount"          type="hidden"  value="#{recargaBean.valor}"/>
                <input name="signature"       type="hidden"  value="#{recargaBean.signature}"/>
                <input name="buyerEmail"      type="hidden"  value="#{recargaBean.usuario.correo}" />
                <input name="telephone"       type="hidden"  value="#{recargaBean.usuario.telefono}"/>
                <input name="buyerFullName"   type="hidden"  value="#{recargaBean.usuario.username}"/>
                <input name="responseUrl" type="hidden" value="#{recargaBean.urlResponse}"/>
                <input name="Recargar"   class="btn-recargar"   value="Confirmar" style= "border-radius: 20px; margin-top: 2vw; background-color: #7DFFAE; border-color: #22FF76; color: #217641;" type="submit"   />
            </form>
        </p:panel>






    </ui:define>


</ui:composition>


</html>