<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsf/html"
      xmlns:b="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">




<script type="text/javascript">
    window.onload = function() {
        document.forms["form1"].submit();
    }
</script>


<ui:composition template="/WEB-INF/plantilla.xhtml">



    <ui:define name="head">
        <h:head>

            #{recargaBean.realizarRecarga()}

        </h:head>
    </ui:define>

    <ui:define name="content">





        <h:form>
            <p:panel header="" modal="true" style="text-align: center; align-content: center">
                <h2 class="form-signin-heading">Confirmación pago recarga </h2>

                <div class="mt-5">

                    <p:graphicImage url="/uploads/bien.png" width="230" height="230" />
                </div>
                  <div>
                    <p:outputLabel id="username"  required="true"  style="font-size: large;font-weight: bold" styleClass="form-inputPF" value="Usuario: #{loginBean.usuario.username}"/>

                 </div>
                <div >
                    <p:outputLabel id="recarga"  required="true"  style="font-size: large;font-weight: bold" styleClass="form-inputPF" value="Recarga por #{recargaBean.valor} EXITOSA"/>
                </div>

            <p:commandButton name="continuar"   class="btn-recargar" update="@form" action="#{recargaBean.irPerfil}" value="Continuar" style= "border-radius: 20px; margin-top: 2vw; background-color: #7DFFAE; border-color: #22FF76; color: #217641;"    />
            </p:panel>
        </h:form>







    </ui:define>


</ui:composition>


</html>